body {
  font-family: initial;
}


.photo {
  font-style: italic;
}

header .logo {
  width: 200px;
}

header .logo {
  padding-top: 40px;
  padding-left: 20px;
  background-color: #4EA1FF;
  background-image: url(../img/pattern.png);
  background: size 50%;
  ;
}

main,
footer {
  padding-left: 20px;
}

h1 {
  font-size: 2.5rem;
}